<p>registration works!</p>


<!-- <div *ngIf="this.newUser" class="user-create-container">
    <h2>יצירת משתמש חדש</h2>

    <div class="form-row">
        <div class="form-group">
            <label>שם פרטי:</label>
            <input [(ngModel)]="newUser.firstName" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>שם משפחה:</label>
            <input [(ngModel)]="newUser.lastName" type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label>תאריך לידה:</label>
        <input [(ngModel)]="newUser.birthDate" type="date" class="form-control">
    </div>

    <div class="form-row">
        <div class="form-group">
            <label>מייל:</label>
            <input [(ngModel)]="newUser.email" type="email" class="form-control">
        </div>

        <div class="form-group">
            <label>טלפון:</label>
            <input [(ngModel)]="newUser.phone" type="text" class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label>סיסמא:</label>
            <input [(ngModel)]="newUser.password" type="password" class="form-control">
        </div>

        <div class="form-group">
            <label>אימות סיסמא:</label>
            <input [(ngModel)]="newUser.confirmPassword" type="password" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label>מין:</label>
        <select [(ngModel)]="newUser.gender" class="form-control">
            <option [ngValue]="true">זכר</option>
            <option [ngValue]="false">נקבה</option>
        </select>
    </div>

    <div class="button-group">
        <button class="btn save-btn" (click)="saveUser()">שמור משתמש</button>
        <button class="btn cancel-btn" (click)="resetForm()">ניקוי</button>
    </div>
</div> -->

